*{
    background-color: #303030;
    font-family: 'Source Sans Pro', sans-serif;
}
header img{
    height: auto;
    width: 30px;
    position: absolute;
    right: 32%;
    top: 3%;
    background: transparent;
    cursor: pointer;
}
.container .left .mid-pic1{
    width: 13%;
    position: absolute;
    right: 57%;
    top: 26%;
    border-radius: 100%;
    border: 90px solid rgb(78, 78, 78);

}
#pin{
    top: 83%;
    font-size: 28px;
    color: white;
    left: 2%;
    cursor: pointer;
    position: absolute;
}
footer p{
    width: 13%;
    top: 80.7%;
    left: 4%;
    font-size: 140%;
    font-style:unset;
    color: white;
    position: absolute;
}
.container .bottom{
    width: 40%;
    top: 89%;
    font-size: 150%;
    left: 1.5%;
    color: white;
    position: absolute;
}
#mic{
    width: 3.5%;
    top: 18%;
    left: 97%;
    font-size: 24px;
    text-align: center;
    color: white;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background:rgb(53, 53, 53);
    border: 18px solid rgb(53, 53, 53);
}

#video{
    width: 3.5%;
    top: 18%;
    text-align: center;
    font-size: 24px;
    left: 107%;
    color: red;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background:rgb(53, 53, 53);
    border: 18px solid rgb(53, 53, 53);
}
#captions{
    width: 3.5%;
    top: 18%;
    text-align: center;
    font-size: 28px;
    color: white;
    left: 117%;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background:rgb(53, 53, 53);
    border: 17px solid rgb(53, 53, 53);
}
#ss{
    width: 3.5%;
    top: 18%;
    text-align: center;
    color: white;
    font-size: 21px;
    left: 126%;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background:rgb(53, 53, 53);
    border: 20px solid rgb(53, 53, 53);
}
#options{
    width: 3.5%;
    top: 20%;
    text-align: center;
    color: white;
    font-size: 22px;
    left: 136%;
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    background:rgb(53, 53, 53);
    border: 19px solid rgb(53, 53, 53);
}
#end-call{
    width: 3.5%;
    position: absolute;
    top: 20%;
    left: 146%;
    cursor: pointer;
    border-radius: 100%;
    background: red;
    border: 18px solid red;
}

#info{
    top: 94%;
    color: white;
    position: absolute;
    font-size: 30px;
    right: 15%;
    background: transparent;
    float: right;
    cursor: pointer;
}
#user{
    top: 94%;
    color: white;
    position: absolute;
    font-size: 28px;
    color: slateblue;
    right: 11%;
    background: transparent;
    float: right;
    cursor: pointer;
}
#comment{
    top: 94.4%;
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 27px;
    color: white;
    right: 7%;
    background: transparent;
    float: right;
}
#shapes{
    color: white;
    cursor: pointer;
    top: 94.2%;
    position: absolute;
    font-size: 27px;
    width: 30px;
    color: white;
    right: 3%;
    background: transparent;
    float: right;
}
.sahib {   
    position: absolute;
    left: 120%;
    width: 90px;
    bottom: 150px;
    border-radius: 4%;
    background:rgb(63, 63, 63);
    border: 90px solid rgb(63, 63, 63);
    border-width: 40px 100px;
    
}
p{
    background: transparent;
}
.text{
    left: 123%;
    position: relative;
    bottom: 145px;
    font-size: 24px;
    background: transparent;
}
.right{
    float: right;
    position: relative;
    background: white;
    border-radius: 2%;
    border: 88px solid white;
    border-width: 375px 250px;
}
.right-down{
    float: right;
    position: relative;
    color: white;
    top: 870px;
    left: 395px;
    text-align: center;
    margin: 3px;
    margin-top: 10px;
    width: 20px;
    height: 25px;
    font-size: 10px;
    border-radius: 100%;
    background: rgb(63, 63, 63);
}
.right-text{
    position: relative;
    background: transparent;
    top: -350px;
    color: rgb(78, 78, 78);
    right: 250%;
    font-size: 27px;
}
#close{
    background: transparent;
    position: relative;
    left: 550%;
    font-size: 25px;
    color: rgb(78, 78, 78);
    top: -56px;
    cursor: pointer;
}
#add{
    background: transparent;
    position: relative;
    font-size: 25px;
    right: 40%;
    cursor: pointer;
    top: 10px;
}
.add-text{
    background: transparent;
    font-size: 20px;
    position: absolute;
    right: -70%;
    top: 60%;
}
.in-call{
    background: transparent;
    position: absolute;
    font-size: 20px;
    left: -10%;
    top: 120%;
}
.small-pic1{
    background: transparent;
    position: absolute;
    top: 190%;
    left: -10px;
    width: 40px;
}
.pic1{
    background: transparent;
    position: absolute;
    font-size: 19px;
    top: 180%;
    right: -180%;
}
.small-pic2{
    background: transparent;
    position: absolute;
    width: 40px;
    left: -10px;
    top: 270%;
}
.pic2{
    background: transparent;
    position: absolute;
    font-size: 19px;
    top: 260%;
    right: -110%;
}
.small-pic3{
    background: transparent;
    position: absolute;
    width: 40px;
    left: -10px;
    top: 350%;
}
.pic3{
    background: transparent;
    position: absolute;
    font-size: 19px;
    top: 339%;
    right: -120%;
}
.logo1{
    background: transparent;
    position: absolute;
    width: 25px;
    right: -110%;
    top: 30%;
}
#pin1{
    background: transparent;
    position: absolute;
    color: rgb(78, 78, 78);
    top: 36%;
    right: -140%;
    font-size: 22px;
    cursor: pointer;
}
.logo2{
    background: transparent;
    position: absolute;
    width: 25px;
    right: -212%;
    top: 30%;
}
#options1{
    background: transparent;
    position: absolute;
    right: -252%;
    top: 30%;
    font-size: 23px;
    cursor: pointer;
}
.logo3{
    background: transparent;
    position: absolute;
    width: 26px;
    right: -195%;
    top: 30%;
}
#options2{
    background: transparent;
    position: absolute;
    right: -232%;
    top: 30%;
    font-size: 23px;
    cursor: pointer;
}